.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.appBar{
  background-color: black;
}

.white{
 color: white;
}

.card:hover{
  border: 2px solid black !important ;
  transition: all 0.2s linear;
}
.card-body{
  padding: 2rem 0 !important;
}
.card-text{
  padding: 0.3 rem 1rem;
  font-size: 1rem;
}
.card-img-top:hover{
  transform: scale(1.8);
}
.overflow{
  overflow: hidden;
}
.card-img-top{
  transition:all 0.2s ease-out ;
}
.button{
  color: blue;
  font-size: 22px;
  font-weight: bold;
  
}
a{
  margin-right: 1rem;
  
}
.espacio{
  margin-right: 1rem;
}
.tarjetas-text{
  padding: 0.3 rem 1rem;
  font-size: 1rem;
}
.tarjetas:hover{

  transition: all 0.2s linear;
}
.tarjetas-body{
  padding: 2rem 0 !important;
}


